<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Temporal | Sets</title>
    <script
      src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
      integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" integrity="sha256-wT6CFc7EKRuf7uyVfi+MQNHUzojuHN2pSw0YWFt2K5E=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js" integrity="sha256-flVaeawsBV96vCHiLmXn03IRJym7+ZfcLVvUWONCas8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="ui bottom attached segment pushable">
      <% include header.ejs %>
      <div id="edit">
        <!-- Trying to handle editing on a separate url for simplicity -->
         <a href="edit/" class="ui labeled icon button">
          <i class="edit icon"></i>
          Edit
         </a>
       </div>
      <div id="menu" class="ui visible inverted left vertical sidebar menu">
        <a class="item" href="/index.html">
          <i class="home icon"></i>
          Home
        </a>
        <a class="item" href="#">
          <i class="idea icon"></i>
          Sets
        </a>
        <a class="item">
          <i class="user icon"></i>
          Account
        </a>
      </div>
      <div class="pusher">
        <div class="ui basic segment">
          <script src="editable-text.js" language="javascript" type="text/javascript"></script>
          <h3 class="ui header">Application Content</h3>
          <% sets.forEach((set) => { %>
            <% if(!edit){%>
              <div class="ui segment">
                <div class="ui sub header">
                  <a href="<%= set.id %>"><%= set.title %></a>
              </div>
              <p>
                <%= set.description %>
              </p>
            </div>
            <%}else{%>
              <div class="ui segment">
                <div class="ui sub header">
                  <p class="header" data-editable><%= set.title %></a>
              </div>
              <p data-editable>
                <%= set.description %>
              </p>
            </div>
            <% } %>
          <% }); %>
        </div>
      </div>
      <p data-editable>Testing</p>
    </div>
  </body>
</html>
